// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: $text-body-font;
      font-size: $fs-default;
      color: $text-color;
      line-height: 1.5;
      font-weight: 700;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: $max-width;
	padding: 2rem 0;
	margin: 0 auto;
}
.hidden {
	display: none;
}