// Typography rules

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $text-main-font;
  font-weight: $fw-600;
}


h1 {
      font-size: 4rem;
      font-family: $text-main-font;
      font-weight: $fw-700;
}

.uppercase {
      text-transform: uppercase;
}

.text-white {
      color: $color-white;
}

.text-center {
      text-align: center;
}

@media (min-width: $mobile-width) {
      h1 {
            font-size: 2rem;
      }
}