// Typography rules

h1,
h2,
h3,
h4,
h5,
h6 {
      line-height: 1.2;
      font-family: $text-main-font;
      font-weight: $fw-600;
      }


h1 {
      font-size: 4rem;
      font-weight: $fw-700;
}

h2 {
      font-size: 2.75rem;
      color: $color-very-dark-desaturated-blue;
      margin-bottom: 2rem;
}

a.link {
      position: relative;
      text-transform: uppercase;
      font-family: $text-main-font;
      font-weight: $fw-700;
}

a.link:before {
      content: '';
      position: absolute;
      border-radius: 50px;
      height: 8px;
      width: 104%;
      bottom: 0;
      z-index: -1;
      left: -2px;
      right: 0;
}

.link-1:before {
      background: $color-yellow;
}

.link-2:before {
      background: $color-soft-red;
}

.uppercase {
      text-transform: uppercase;
}

.text-white {
      color: $color-white;
}

.text-center {
      text-align: center;
}

.testimonials h2 {
      color: $color-grayish-blue;
}

.uppercase {
      text-transform: uppercase;
}

@media (min-width: $mobile-width) and (max-width: $max-width) {
      h1 {
            font-size: 2.75rem;
      }

      h2 {
            font-size: 1.275rem;
      }
      .testimonials h2 {
            letter-spacing: 3.2px;
      }
}