.has-image {
      background-repeat: no-repeat;
      background-size: cover;
}

.inner-section {
      align-items: center;
      padding: 12rem;
}

.pb-3{
      padding-bottom: 3rem;
}

.section-1 .column-2 {
      background-image: url("../../src/images/desktop/image-transform.jpg");

}

.section-2 .column-1 {
      background-image: url("../../src/images/desktop/image-stand-out.jpg");
}

.section-3 {
      .column-1 {
            background-image: url("../../src/images/desktop/image-graphic-design.jpg");
      }
      
      .column-2 {
            background-image: url("../../src/images/desktop/image-photography.jpg");
      }
}
