// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&family=Fraunces:wght@400;700;900&display=swap');

/// Container's maximum width
$max-width: 1440px !default;
$mobile-width:  375px;


/// Colors
// Primary

$color-soft-red: hsl(7, 99%, 70%);
$color-yellow: hsl(51, 100%, 49%);
$color-dark-desaturated-cyan: hsl(167, 40%, 24%);
$color-dark-blue: hsl(198, 62%, 26%);
$color-dark-moderate-cyan: hsl(168, 34%, 41%);

// Neutral

$color-very-dark-desaturated-blue: hsl(212, 27%, 19%);
$color-very-dark-grayish-blue: hsl(213, 9%, 39%);
$color-dark-grayish-blue: hsl(232, 10%, 55%);
$color-grayish-blue: hsl(210, 4%, 67%);
$color-white: hsl(0, 0%, 100%);

$text-color: $color-very-dark-grayish-blue !default;


// Typography
$fs-default: 18px;

// Font
$text-main-font: 'Fraunces', serif;
$text-body-font: 'Barlow', sans-serif;

$fw-300: 300;
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;
$fw-900: 900;
