header {
      background-image: url("/src/images/desktop/image-header.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      min-height: 90vh;
}

.heading-content {
      padding-top: 8rem;
}