header {
	background-image: url("../../src/images/desktop/image-header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	min-height: 100vh;
}

.heading {
	&-content {
		padding-top: 6rem;
	}
	&-text {
		letter-spacing: 0.15em;
	}
}

.arrow-down {
	padding-top: 10.5rem;
}

@media (min-width: $mobile-width) and (max-width: $max-width) {
	header {
		background-image: url("../../src/images/mobile/image-header.jpg");
	}

	.arrow-down {
		padding-top: 3rem;
	}
}