.d-flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.grid-container {
	display: grid;
	grid-template-rows: 1fr;
	grid-auto-rows: minmax(400px, 1fr);
}

.card {
	padding: 2rem;
	
	.card-image img {
		border-radius: 50%;
		width: 20%;
	}

	.card-content {
		font-weight: $fw-600;
	}

	.card-author {
		font-weight: $fw-900;
		font-family: $text-main-font;
		color: $color-very-dark-desaturated-blue;
		margin-bottom: 0.5rem;
	}

	.card-position {
		font-weight: $fw-600;
		font-size: 14px;
		color: $color-grayish-blue;
	}
}




@media (max-width: 767px) {
	.inner-section {
		&-item__1 {
			grid-area: 2;
		}
		
		&-item__2 {
			grid-area: 1;
		}
	}
}

@media (min-width: 768px) {
	.grid-container {
		display: grid;
		grid-template-columns: repeat(2, minmax(400px, 1fr));
		grid-auto-rows: minmax(600px, 1fr);
	}
	
}