.main-navigation {
      display: flex;
      .menu {
            float: right;
            ul {
                  
                  display: flex;
                  list-style: none;
            }
      }
}
